body {

}

header {

}

section {

}

.button {
    background-color: greenyellow;
    color:darkblue;
    padding:10px 20px;
    border:orchid;
    border-radius:5px;
    cursor:grab;
    text-align: center;
}

.button:hover {
    background-color: deepskyblue;
}

.container {
    border-style: outset;
    width: 500px;
    background-color: lavender;
}